* {
    font-family: Segoe UI;
}

.header {
    display: flex;
    background-color: darkgray;
    padding: 10px;
    justify-content: center;
}

.header-title {
    color:rgb(25, 137, 135);
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
}

.header:hover {
    background-color: aquamarine;
}

.judul {
    display: flex;
    background-color: rgb(196, 75, 31);
    padding: 5px;
    margin-top: 10px;
    justify-content: center;
    font-size: 30px;
    color:aliceblue;
}

.konten {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.konten-credit {
    font-size: 14px;
    font-weight: normal;
}

.penulis {
    color: crimson;
}

.tanggal {
    color:olive;
}

span {
    color:cornflowerblue;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-preview {
    margin: 20px;
    background-color: antiquewhite;
    padding: 10px;
    width: 300px;
}

.box-preview a {
    text-decoration: none;
}

.box-preview a:link, .box-preview a:visited {
    color: inherit;
}

.box-preview-judul {
    font-size: 1.2em;
    height: 60px;
    font-weight: bold;
}

.box-preview-credit {
    font-style: italic;
}

.box-preview:hover {
    background-color: #efefef;
}